[Unit]
Description=Webhook Listener
After=network.target

[Service]
ExecStart=/usr/bin/webhook -hooks /var/webhook/hooks.json -hotreload -verbose
Restart=always
User=ubuntu
WorkingDirectory=/var/webhook

[Install]
WantedBy=multi-user.target
